{#
 # Heading Component
 # -----------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

{% macro heading(text, style, shadow, background) %}

	{% set headingClass = "" %}
	
	{# Set heading text style #}
	{% if style %}
		{% set headingClass = headingClass ~ " panel-heading-#{style}" %}
	{% else %}
		{% set headingClass = headingClass ~ " panel-heading-thin" %}
	{% endif %}

	{# Set heading shadow #}
	{% if shadow %}
		{% set headingClass = headingClass ~ " panel-heading-shadow" %}
	{% endif %}

	{# Set heading box background style #}
	{% if background %}
		{% set headingClass = headingClass ~ " panel-heading-box panel-heading-box-#{background}" %}
	{% endif %}

	<div class="container">
		<h1 class="panel-heading{{ headingClass }}">{{ text }}</h1>
	</div>
{% endmacro %}
{% import _self as macros %}

{# Check if heroImage has been enabled and defined #}
{% if (block.heroImageEnable) and (block.heroImage.url | length) %}

	{# Get panel hero image #}
	{% set heroImage = block.heroImage.first() %}

	{# Set panel hero classes #}
	{% switch block.heroImageFilter %}
		{% case 'dark' %}
			{% set class = ' hero-filter hero-filter-dark panel-text-white' %}
		{% case 'darkFade' %}
			{% set class = ' hero-filter hero-filter-dark hero-fade panel-text-white' %}
		{% case 'light' %}
			{% set class = ' hero-filter hero-filter-light' %}
		{% case 'lightFade' %}
			{% set class = ' hero-filter hero-filter-light hero-fade' %}
		{% default %}
			{% set class = '' %}
	{% endswitch %}

	{# Get bottom margin style #}
	{% set bottomMargin = block.heroImageMargin | default('standard') %}

	{# Check if heading box enabled #}
	{% if block.enableHeadingBackground %}
		{% set backgroundColour = block.colour %}
	{% else %}
		{% set backgroundColour = false %}
	{% endif %}
	
	<div class="panel-hero {{ bottomMargin == 'condensed' ? 'panel-hero-sm' : '' }} parallax-container{{ class }}" data-speed="0.5" style="background-image: url('{{ heroImage.url }}')">
		{{ macros.heading( block.heading, block.headingStyles, block.enableHeadingShadow, backgroundColour ) }}
	</div>

{% else %}
	{{ macros.heading( block.heading ) }}
{% endif %}