{#
 # Loan Pricing Slider Component
 # -----------------------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

{# Get products array #}
{% set products = block.instalmentLoanProducts %}

{# Check if products added to form #}
{% if products | length %}
	<div class="container">
		<div id="pricing-products" class="tabs pricing-tabs">

			<h3 class="numbered"><span>1</span> Choose a Product</h3>

			{# Output products as tabs #}
			<ul class="row">
				{% for product in products %}
					<li class="col-sm-4"><a class="tab-{{ product.colour }}" href="#product-{{ loop.index }}">{{ product.title }}</a></li>
				{% endfor %}
			</ul>
			
			{# Output product forms #}
			{% for product in products %}

				{% if product.type == 'pricingFormProduct' %}
					<form id="product-{{ loop.index }}" class="pricing-form" method="get" action="{{ globals.anchorEndpoint }}"
						data-principal-min="{{ product.principal.min }}"
						data-principal-max="{{ product.principal.max }}"
						data-principal-init="{{ product.principal.init }}"
						data-principal-steps="{{ product.principal.steps }}"
						data-term-min="{{ product.term.min }}"
						data-term-max="{{ product.term.max }}"
						data-term-init="{{ product.term.init }}"
						data-interest-rate="{{ product.interestRate / 100 }}" {# Convert percentage to decimal #}
						data-fees="{{ product.fees }}"
						data-product-type="{{ product.repaymentType }}">
						<input type="hidden" name="amount">
						<input type="hidden" name="term">
						<input type="hidden" name="product" value="{{ product.anchorProductType }}">

						<h3 class="numbered"><span>2</span> Select your Loan Terms</h3>
						<div class="row">
							<div class="col">
								<h4>Loan Amount</h4>
								<input class="pricing-form-mobile-input pricing-form-input-principal" type="number">
								<div class="pricing-form-slider pricing-form-slider-principal slider-{{ product.colour }}">
									<div class="ui-slider-handle"></div>
								</div>

								<h4>Repayment Term</h4>
								<select class="pricing-form-mobile-input pricing-form-input-term"></select>
								<div class="pricing-form-slider pricing-form-slider-term slider-{{ product.colour }}">
									<div class="ui-slider-handle"></div>
								</div>
								
								<table class="pricing-form-repayments">
									<thead>
										<tr>
											<th scope="col">Month</th>
											<th scope="col">Loan</th>
											<th scope="col">Interest</th>
											<th scope="col">Payment</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="col-lg-4">
								<div class="card card-{{ product.colour }} pricing-form-overview">
									<h4>Loan Amount</h4>
									<p class="pricing-form-overview-borrowing"></p>
									<h4>Fees</h4>
									<p class="pricing-form-overview-fees"></p>
									<h4>Total Interest</h4>
									<p class="pricing-form-overview-interest"></p>
									<h4>Total to Repay</h4>
									<p class="pricing-form-overview-repay"></p>
									<h4>APR</h4>
									<p class="pricing-form-overview-apr"></p>
								</div>
							</div>
						</div>

						<h3 class="numbered"><span>3</span> Apply Now</h3>
						<div class="row">
							{% if product.legalDisclaimer | length %}
							<div class="col">
									{{ product.legalDisclaimer }}
							</div>
							{% endif %}
							<div class="col-md-4">
								<button type="submit" class="button button-block button-gold">Apply Now</button>
							</div>
						</div>

						<div class="modal-container">
							<div class="modal loading-modal">
								<i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
								<h2>Please Wait whilst we create your application</h2>
							</div>
						</div>
					</form>
				
				{% elseif product.type == 'contactProduct' %}
					<div id="product-{{ loop.index }}" class="pricing-contact">
						<h3 class="numbered"><span>2</span> Contact Us</h3>
						<h4 class="heading">{{ product.contactHeading }}</h4>
						{{ product.contactBody }}

						{% include '_components/_contact-cards' %}

					</div>
				{% endif %}

			{% endfor %}

		</div>
	</div>

{% endif %}