{#
 # Row Component
 # --------------------------
 #
 # Copyright 2017 Affinture Cards Limited
 #}

{% set equalise = block.equaliseRowContent | default(false) %}

{% set floatingColumns = floatingColumns | default(false) %}
{% set elementType = floatingColumns ? 'article' : 'div' %}

<{{ elementType }} class="row {{ floatingColumns ? 'no-gutters' : '' }}">

	{% if block.children is not empty %}
	{% for child in block.children %}
		{% switch child.type.handle %}

			{% case 'card' %}
				<div class="{{ floatingColumns ? 'col-lg-7' : 'col' }}">
					{% if child.colour %}
						{% set backgroundColour = child.colour.label %}
					{% else %}
						{% set backgroundColour = child.oldColour %}
					{% endif %}

					{% include '_components/card' with {
						headingLevel: child.headingLevel,
						card: {
							heading: child.heading,
							body: child.body,
							button: child.button,
							colour: backgroundColour,
							customColour: child.customColour,
							alignText: child.alignText,
						}
					} only %}
				</div>

			{% case 'productCard' %}
				{% set product = child.product.first() %}

				{% if product %}
					<div class="{{ floatingColumns ? 'col-lg-7' : 'col' }}">
						{% if product.colour %}
							{% set backgroundColour = product.colour.label %}
						{% else %}
							{% set backgroundColour = product.oldColour %}
						{% endif %}

						{% include '_components/card' with {
							equalise: equalise,
							card: {
								heading: product.title,
								body: product.description,
								button: child.button,
								colour: backgroundColour,
							}
						} only %}
					</div>
				{% endif %}

			{% case 'image' %}
				{% set img = child.image.first() %}
				{% if img %}
					<div class="col {{ floatingColumns ? 'col-floating-img' : '' }}" style="background-image: url('{{ img.url }}');"></div>
				{% endif %}

		{% endswitch %}
	{% endfor %}
	{% endif %}

</{{ elementType }}>